.btn {
  width: 100%;
  padding: 10px 0;
  margin: 0;
  text-align: left;
  border: none;
  border-bottom: 1px solid #EAEAEA;
  background-color: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #3369F3;
  cursor: pointer;
  opacity: 1;
  transition: opacity .2s linear;
}

.btn:hover {
  opacity: .7;
}

.btn:active {
  border: none;
}

.btn:disabled {
  border: none;
  border-bottom: 1px solid #EAEAEA;
  cursor: default;
  opacity: 1;
  color: #C2C2C2;}
