<main class="{{styles.page-404}}">
  <h1 class="{{styles.page-404__title}}">404</h1>
  <h2 class="{{styles.page-404__subtitle}}">Не туда попали</h2>
  <p onclick="renderPage('chat')" class="{{styles.page-404__back-btn}}">Назад к чатам</p>
</main>
