.chatList {
  box-sizing: border-box;
  background: var(--lightest-grey);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20vw;

  /* max-width: 200px; */
  padding: 21px 0 0;
  border-right: 1px solid var(--light-grey);
  gap: 10px;
}

