.messages {
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  width: 100%;
  flex-grow: 1;
  padding: 5px 0;
  margin: 0;
  overflow: scroll;
  scrollbar-width: none;
  gap: 10px;
}

.messages::-webkit-scrollbar {
  width: 0;
}
