.messages {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  flex-grow: 1;
  padding: 5px 0;
  margin: 0;
  overflow: scroll;
  gap: 10px;
}

.message {
  max-width: 40%;
  display: flex;
  gap: 15px;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 10px;
  margin: 0;
  background-color: #F8F8F8;
  border: none;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}

.message_type_self {
  background-color: #E4EDFD;
  align-self: flex-end;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 0;
}

.messageText {
  color: #1E1E1E;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  padding: 0;
  text-align: justify;
}

.messageInfo {
  width: auto;
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  gap: 5px;
}

.messageStatus {
  display: flex;
  flex-flow: row-reverse;
  justify-content: flex-start;
}

.statusFirstCheck {
  width: 10px;
  height: 10px;
  background-image: url(../../../static/images/chat_galka.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center center;
}

.statusSecondCheck {
  width: 10px;
  height: 10px;
  background-image: url(../../../static/images/chat_galka.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center center;
  transform: translate(6px);
}

.messageTime {
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
  color: #999999;
  padding: 0;
  margin: 0;
  justify-self: flex-end;
}

.messageTime_type_self {
  color: #3369F3;
}
