<main class="{{styles.page-500}}">
  <h1 class="{{styles.page-500__title}}">500</h1>
  <h2 class="{{styles.page-500__subtitle}}">Мы уже фиксим</h2>
  <p onclick="renderPage('chat')" class="{{styles.page-500__back-btn}}">Назад к чатам</p>
</main>
