.popup {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inset: 0;
  background: rgb(60 60 60 / 50%);
  box-sizing: border-box;
  gap: 15px;
  visibility: hidden;
}

.popup_opened {
  display: flex;
  visibility: visible;
}

.popup-form {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 50px;
  box-sizing: border-box;
  padding: 40px 30px;
  background-color: var(--white);
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  border-radius: 12px;
}

.title {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: var(--black);
  text-align: center;
  margin: 0;
}

.fieldset {
  border: none;
  max-height: 100px;
  overflow: scroll;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

.fieldset::-webkit-scrollbar {
  width: 0;
}

.items {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item {
  padding: 5px;
  margin: 0;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s linear;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--black);
  background: url(../../../static/images/deleteUserBtn.svg) right center no-repeat;
  background-color: var(--white);
  text-align: left;
}

.item:hover {
  opacity: 0.7;
}

.stub {
  position: absolute;
  top: 35px;
  margin: 0;
  width: 100%;
  font-weight: 500;
  font-size: 13px;
  line-height: 30px;
  color: var(--grey);
  background-color: rgb(240 240 240 / 50%);
  box-sizing: border-box;
  padding: 0 10px;
}
