@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

#app,
html,
body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: fff;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

:root {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
}
